{% extends "base.html" %}

{% block content %}
    <h2>Your data:</h2>
    <p>First name: {{ user.first_name }} </p>
    <p>Last name: {{ user.last_name }} </p>
    <p>Email: {{ user.email }}</p>
    <p>Date of birth: {{ user.date_of_birth }}</p>
    <p>Last accessed: {{ user.last_login }}</p>
    <p>Tickets: </p>
    <ul>
        {% for user_ticket in user.usertickets_set.all %}
            <li>{{ user_ticket.ticket.name }} - Issue Date: {{ user_ticket.issue_date }} - Expiry Date: {{ user_ticket.expiry_date }}</li>
        {% empty %}
            <li>No ticket available.</li>
        {% endfor %}
    </ul>
{% endblock %}