<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Train application{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul class="nav-left">
                <li><a href="{% url 'home' %}">Home</a></li>
            </ul>
            <ul class="nav-right">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                    <li>
                        <form method="post" action="{% url 'logout' %}" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" style="background: none; border: none; padding: 0; cursor: pointer; color: white; font-size: inherit;">Logout</button>
                        </form>
                    </li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
        
        
    </header>
    <main>
        {% block content %}
        {% endblock %}
        {% block extra_js %}
        {% endblock %}
    </main>
    <footer>
    </footer>
</body>
</html>